.swiper {
  height: 100%;
}

.article {
  margin-top: 4rem;
  *,
  input,
  ::before,
  ::after {
    box-sizing: border-box;
  }
  img {
    max-width: 100%;
    border: none;
  }
  *,
  input,
  ::before,
  ::after {
    box-sizing: border-box;
  }
  img {
    max-width: 100%;
    border: none;
  }
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  nav,
  section,
  summary {
    display: block;
  }
  .sectionWrap.halfGutter .rte {
    margin-top: 5px;
  }
  .rte {
    font-family: Poppins, HelveticaNeue, "Helvetica Neue", sans-serif;
  }
  .accordian section.active {
    display: block;
  }
  label,
  a,
  .header-cart-item-options button,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  h7 {
    word-break: break-word;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  h7 {
    color: rgb(0, 0, 0);
    margin: 0px 0px 20px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Poppins, HelveticaNeue, "Helvetica Neue", sans-serif;
  }
  .rte h1,
  .rte h4,
  .rte h5,
  .rte h6,
  .rte h2,
  .rte h3 {
    color: rgb(0, 0, 0);
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .rte h1,
  .rte h2,
  .rte h3,
  .rte h4,
  .rte h5,
  .rte h6 {
    font-family: Poppins, HelveticaNeue, "Helvetica Neue", sans-serif;
  }
  .rte h1:first-child,
  .rte h2:first-child,
  .rte h3:first-child,
  .rte h4:first-child,
  .rte h5:first-child,
  .rte h6:first-child {
    margin-top: 0px;
  }
  .shopify-section h1,
  .shopify-section h2 {
    color: rgb(0, 0, 0);
  }
  h1,
  h2 {
    font-size: 20px;
    font-weight: 600;
  }
  .shopify-section #accordianOne h2 {
    letter-spacing: inherit;
  }
  p {
    margin-top: 0px;
  }
  p,
  span,
  a,
  .header-cart-item-options button,
  li,
  a.button,
  .header-cart-item-options button.button {
    font-family: Poppins, HelveticaNeue, "Helvetica Neue", sans-serif;
  }
  p {
    font-size: 1.7rem;
  }
  .rte p,
  .rte ul,
  .rte ol,
  .rte table {
    margin: 0px 0px 20px;
  }
  .static_page_content p,
  .tab_details p,
  footer p,
  .content_general p,
  .contnet_grid_html p,
  .accordian p {
    font-size: 1.6rem;
    font-weight: 300;
    color: rgb(33, 33, 33);
  }
  #accordianOne p,
  .accordian p {
    color: rgb(0, 0, 0);
    line-height: 2.8rem;
    margin-bottom: 15px;
  }
  .accordian p {
    line-height: 2.8rem;
    color: rgb(0, 0, 0);
  }
  .static_page_content span.tab_details span,
  footer span,
  .content_general span,
  .contnet_grid_html span,
  .accordian span {
    font-weight: inherit;
  }
  b,
  strong {
    font-weight: 700;
  }
  .static_page_content strong,
  .tab_details strong,
  footer strong,
  .content_general strong,
  .contnet_grid_html strong,
  .accordian strong {
    font-weight: 600;
    color: rgb(0, 0, 0);
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media print {
    h2,
    h3 {
      break-after: avoid;
    }
  }
  @media only screen and (max-width: 767px) {
    .shopify-section h2 {
      color: rgb(0, 0, 0);
    }
  }
  @media screen and (max-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 460px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media (max-width: 1200px) and (min-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 769px) {
    .tab_details p,
    footer p,
    .content_general p,
    .contnet_grid_html p,
    .accordian p {
      font-size: 1.5rem;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 769px) {
    .tab_details p,
    footer p,
    .content_general p,
    .contnet_grid_html p,
    .accordian p {
      font-size: 1.5rem;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 769px) {
    .tab_details p,
    footer p,
    .content_general p,
    .contnet_grid_html p,
    .accordian p {
      font-size: 1.5rem;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media print {
    h2,
    h3 {
      break-after: avoid;
    }
  }
  @media only screen and (max-width: 767px) {
    .shopify-section h2 {
      color: rgb(0, 0, 0);
    }
  }
  @media screen and (max-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 460px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media (max-width: 1200px) and (min-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 769px) {
    .tab_details p,
    footer p,
    .content_general p,
    .contnet_grid_html p,
    .accordian p {
      font-size: 1.5rem;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 769px) {
    .tab_details p,
    footer p,
    .content_general p,
    .contnet_grid_html p,
    .accordian p {
      font-size: 1.5rem;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media print {
    h2,
    h3 {
      break-after: avoid;
    }
  }
  @media only screen and (max-width: 767px) {
    .shopify-section h2 {
      color: rgb(0, 0, 0);
    }
  }
  @media screen and (max-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 460px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media (max-width: 1200px) and (min-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 769px) {
    .tab_details p,
    footer p,
    .content_general p,
    .contnet_grid_html p,
    .accordian p {
      font-size: 1.5rem;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 769px) {
    .tab_details p,
    footer p,
    .content_general p,
    .contnet_grid_html p,
    .accordian p {
      font-size: 1.5rem;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media print {
    h2,
    h3 {
      break-after: avoid;
    }
  }
  @media only screen and (max-width: 767px) {
    .shopify-section h2 {
      color: rgb(0, 0, 0);
    }
  }
  @media screen and (max-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 460px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media (max-width: 1200px) and (min-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 769px) {
    .tab_details p,
    footer p,
    .content_general p,
    .contnet_grid_html p,
    .accordian p {
      font-size: 1.5rem;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media print {
    h2,
    h3 {
      break-after: avoid;
    }
  }
  @media only screen and (max-width: 767px) {
    .shopify-section h2 {
      color: rgb(0, 0, 0);
    }
  }
  @media screen and (max-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 460px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media (max-width: 1200px) and (min-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 769px) {
    .tab_details p,
    footer p,
    .content_general p,
    .contnet_grid_html p,
    .accordian p {
      font-size: 1.5rem;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media print {
    h2,
    h3 {
      break-after: avoid;
    }
  }
  @media only screen and (max-width: 767px) {
    .shopify-section h2 {
      color: rgb(0, 0, 0);
    }
  }
  @media screen and (max-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 460px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media (max-width: 1200px) and (min-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
}

.services {
  *,
  input,
  ::before,
  ::after {
    box-sizing: border-box;
  }
  img {
    max-width: 100%;
    border: none;
  }
  *,
  input,
  ::before,
  ::after {
    box-sizing: border-box;
  }
  img {
    max-width: 100%;
    border: none;
  }
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  nav,
  section,
  summary {
    display: block;
  }
  .sectionWrap.halfGutter .rte {
    margin-top: 5px;
  }
  .rte {
    font-family: Poppins, HelveticaNeue, "Helvetica Neue", sans-serif;
  }
  .accordian section.active {
    display: block;
  }
  label,
  a,
  .header-cart-item-options button,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  h7 {
    word-break: break-word;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  h7 {
    color: rgb(0, 0, 0);
    margin: 0px 0px 20px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Poppins, HelveticaNeue, "Helvetica Neue", sans-serif;
  }
  .rte h1,
  .rte h4,
  .rte h5,
  .rte h6,
  .rte h2,
  .rte h3 {
    color: rgb(0, 0, 0);
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .rte h1,
  .rte h2,
  .rte h3,
  .rte h4,
  .rte h5,
  .rte h6 {
    font-family: Poppins, HelveticaNeue, "Helvetica Neue", sans-serif;
  }
  .rte h1:first-child,
  .rte h2:first-child,
  .rte h3:first-child,
  .rte h4:first-child,
  .rte h5:first-child,
  .rte h6:first-child {
    margin-top: 0px;
  }
  .shopify-section h1,
  .shopify-section h2 {
    color: rgb(0, 0, 0);
  }
  h1,
  h2 {
    font-size: 20px;
    font-weight: 600;
  }
  .shopify-section #accordianOne h2 {
    letter-spacing: inherit;
  }
  p {
    margin-top: 0px;
  }
  p,
  span,
  a,
  .header-cart-item-options button,
  li,
  a.button,
  .header-cart-item-options button.button {
    font-family: Poppins, HelveticaNeue, "Helvetica Neue", sans-serif;
  }
  p {
    font-size: 1.7rem;
  }
  .rte p,
  .rte ul,
  .rte ol,
  .rte table {
    margin: 0px 0px 20px;
  }
  .static_page_content p,
  .tab_details p,
  footer p,
  .content_general p,
  .contnet_grid_html p,
  .accordian p {
    font-size: 1.6rem;
    font-weight: 300;
    color: rgb(33, 33, 33);
  }
  #accordianOne p,
  .accordian p {
    color: rgb(0, 0, 0);
    line-height: 2.8rem;
    margin-bottom: 15px;
  }
  .accordian p {
    line-height: 2.8rem;
    color: rgb(0, 0, 0);
  }
  .static_page_content span.tab_details span,
  footer span,
  .content_general span,
  .contnet_grid_html span,
  .accordian span {
    font-weight: inherit;
  }
  b,
  strong {
    font-weight: 700;
  }
  .static_page_content strong,
  .tab_details strong,
  footer strong,
  .content_general strong,
  .contnet_grid_html strong,
  .accordian strong {
    font-weight: 600;
    color: rgb(0, 0, 0);
  }
  *,
  input,
  ::before,
  ::after {
    box-sizing: border-box;
  }
  img {
    max-width: 100%;
    border: none;
  }
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  nav,
  section,
  summary {
    display: block;
  }
  .sectionWrap.halfGutter .rte {
    margin-top: 5px;
  }
  .rte {
    font-family: Poppins, HelveticaNeue, "Helvetica Neue", sans-serif;
  }
  .accordian section.active {
    display: block;
  }
  label,
  a,
  .header-cart-item-options button,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  h7 {
    word-break: break-word;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  h7 {
    color: rgb(0, 0, 0);
    margin: 0px 0px 20px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Poppins, HelveticaNeue, "Helvetica Neue", sans-serif;
  }
  .rte h1,
  .rte h4,
  .rte h5,
  .rte h6,
  .rte h2,
  .rte h3 {
    color: rgb(0, 0, 0);
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .rte h1,
  .rte h2,
  .rte h3,
  .rte h4,
  .rte h5,
  .rte h6 {
    font-family: Poppins, HelveticaNeue, "Helvetica Neue", sans-serif;
  }
  .rte h1:first-child,
  .rte h2:first-child,
  .rte h3:first-child,
  .rte h4:first-child,
  .rte h5:first-child,
  .rte h6:first-child {
    margin-top: 0px;
  }
  .shopify-section h1,
  .shopify-section h2 {
    color: rgb(0, 0, 0);
  }
  h1,
  h2 {
    font-size: 20px;
    font-weight: 600;
  }
  .shopify-section #accordianOne h2 {
    letter-spacing: inherit;
  }
  p {
    margin-top: 0px;
  }
  p,
  span,
  a,
  .header-cart-item-options button,
  li,
  a.button,
  .header-cart-item-options button.button {
    font-family: Poppins, HelveticaNeue, "Helvetica Neue", sans-serif;
  }
  p {
    font-size: 1.7rem;
  }
  .rte p,
  .rte ul,
  .rte ol,
  .rte table {
    margin: 0px 0px 20px;
  }
  .static_page_content p,
  .tab_details p,
  footer p,
  .content_general p,
  .contnet_grid_html p,
  .accordian p {
    font-size: 1.6rem;
    font-weight: 300;
    color: rgb(33, 33, 33);
  }
  #accordianOne p,
  .accordian p {
    color: rgb(0, 0, 0);
    line-height: 2.8rem;
    margin-bottom: 15px;
  }
  .accordian p {
    line-height: 2.8rem;
    color: rgb(0, 0, 0);
  }
  .static_page_content span.tab_details span,
  footer span,
  .content_general span,
  .contnet_grid_html span,
  .accordian span {
    font-weight: inherit;
  }
  b,
  strong {
    font-weight: 700;
  }
  .static_page_content strong,
  .tab_details strong,
  footer strong,
  .content_general strong,
  .contnet_grid_html strong,
  .accordian strong {
    font-weight: 600;
    color: rgb(0, 0, 0);
  }
  .wrapper.wrapper--margins {
    padding: 120px 0px 150px;
  }
  #home-features .wrapper.wrapper--margins {
    padding: 30px 0px 20px;
  }
  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  .hasFlex .gridAlignTop {
    display: flex;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .flexGrid {
    padding: 0px 10px;
  }
  .flexItem {
    padding-left: 10px;
    padding-right: 10px;
  }
  .oneQuarter {
    width: 25%;
  }
  .no_animation_effect .scroll_animation,
  .animation_effect {
    opacity: 0;
    animation-duration: 2s;
    animation-delay: 0s;
  }
  .text-center {
    text-align: center;
  }
  .column_icon_text_grid .content_general p,
  .column_icon_text_grid .content_general strong {
    color: inherit;
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media print {
    h2,
    h3 {
      break-after: avoid;
    }
  }
  @media only screen and (max-width: 767px) {
    .shopify-section h2 {
      color: rgb(0, 0, 0);
    }
  }
  @media screen and (max-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 460px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media (max-width: 1200px) and (min-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 769px) {
    .tab_details p,
    footer p,
    .content_general p,
    .contnet_grid_html p,
    .accordian p {
      font-size: 1.5rem;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 769px) {
    .tab_details p,
    footer p,
    .content_general p,
    .contnet_grid_html p,
    .accordian p {
      font-size: 1.5rem;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 769px) {
    .tab_details p,
    footer p,
    .content_general p,
    .contnet_grid_html p,
    .accordian p {
      font-size: 1.5rem;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media print {
    h2,
    h3 {
      break-after: avoid;
    }
  }
  @media only screen and (max-width: 767px) {
    .shopify-section h2 {
      color: rgb(0, 0, 0);
    }
  }
  @media screen and (max-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 460px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media (max-width: 1200px) and (min-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 769px) {
    .tab_details p,
    footer p,
    .content_general p,
    .contnet_grid_html p,
    .accordian p {
      font-size: 1.5rem;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 769px) {
    .tab_details p,
    footer p,
    .content_general p,
    .contnet_grid_html p,
    .accordian p {
      font-size: 1.5rem;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media print {
    h2,
    h3 {
      break-after: avoid;
    }
  }
  @media only screen and (max-width: 767px) {
    .shopify-section h2 {
      color: rgb(0, 0, 0);
    }
  }
  @media screen and (max-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 460px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media (max-width: 1200px) and (min-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 769px) {
    .tab_details p,
    footer p,
    .content_general p,
    .contnet_grid_html p,
    .accordian p {
      font-size: 1.5rem;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 769px) {
    .tab_details p,
    footer p,
    .content_general p,
    .contnet_grid_html p,
    .accordian p {
      font-size: 1.5rem;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media print {
    h2,
    h3 {
      break-after: avoid;
    }
  }
  @media only screen and (max-width: 767px) {
    .shopify-section h2 {
      color: rgb(0, 0, 0);
    }
  }
  @media screen and (max-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 460px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media (max-width: 1200px) and (min-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 769px) {
    .tab_details p,
    footer p,
    .content_general p,
    .contnet_grid_html p,
    .accordian p {
      font-size: 1.5rem;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media print {
    h2,
    h3 {
      break-after: avoid;
    }
  }
  @media only screen and (max-width: 767px) {
    .shopify-section h2 {
      color: rgb(0, 0, 0);
    }
  }
  @media screen and (max-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 460px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media (max-width: 1200px) and (min-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 769px) {
    .tab_details p,
    footer p,
    .content_general p,
    .contnet_grid_html p,
    .accordian p {
      font-size: 1.5rem;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media print {
    h2,
    h3 {
      break-after: avoid;
    }
  }
  @media only screen and (max-width: 767px) {
    .shopify-section h2 {
      color: rgb(0, 0, 0);
    }
  }
  @media screen and (max-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 460px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media (max-width: 1200px) and (min-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media print {
    h2,
    h3 {
      break-after: avoid;
    }
  }
  @media only screen and (max-width: 767px) {
    .shopify-section h2 {
      color: rgb(0, 0, 0);
    }
  }
  @media screen and (max-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 460px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media (max-width: 1200px) and (min-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 769px) {
    .tab_details p,
    footer p,
    .content_general p,
    .contnet_grid_html p,
    .accordian p {
      font-size: 1.5rem;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 769px) {
    .tab_details p,
    footer p,
    .content_general p,
    .contnet_grid_html p,
    .accordian p {
      font-size: 1.5rem;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 769px) {
    .tab_details p,
    footer p,
    .content_general p,
    .contnet_grid_html p,
    .accordian p {
      font-size: 1.5rem;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media print {
    h2,
    h3 {
      break-after: avoid;
    }
  }
  @media only screen and (max-width: 767px) {
    .shopify-section h2 {
      color: rgb(0, 0, 0);
    }
  }
  @media screen and (max-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 460px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media (max-width: 1200px) and (min-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 769px) {
    .tab_details p,
    footer p,
    .content_general p,
    .contnet_grid_html p,
    .accordian p {
      font-size: 1.5rem;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 769px) {
    .tab_details p,
    footer p,
    .content_general p,
    .contnet_grid_html p,
    .accordian p {
      font-size: 1.5rem;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media print {
    h2,
    h3 {
      break-after: avoid;
    }
  }
  @media only screen and (max-width: 767px) {
    .shopify-section h2 {
      color: rgb(0, 0, 0);
    }
  }
  @media screen and (max-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 460px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media (max-width: 1200px) and (min-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 769px) {
    .tab_details p,
    footer p,
    .content_general p,
    .contnet_grid_html p,
    .accordian p {
      font-size: 1.5rem;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 769px) {
    .tab_details p,
    footer p,
    .content_general p,
    .contnet_grid_html p,
    .accordian p {
      font-size: 1.5rem;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media print {
    h2,
    h3 {
      break-after: avoid;
    }
  }
  @media only screen and (max-width: 767px) {
    .shopify-section h2 {
      color: rgb(0, 0, 0);
    }
  }
  @media screen and (max-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 460px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media (max-width: 1200px) and (min-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 769px) {
    .tab_details p,
    footer p,
    .content_general p,
    .contnet_grid_html p,
    .accordian p {
      font-size: 1.5rem;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media print {
    h2,
    h3 {
      break-after: avoid;
    }
  }
  @media only screen and (max-width: 767px) {
    .shopify-section h2 {
      color: rgb(0, 0, 0);
    }
  }
  @media screen and (max-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 460px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media (max-width: 1200px) and (min-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 769px) {
    .tab_details p,
    footer p,
    .content_general p,
    .contnet_grid_html p,
    .accordian p {
      font-size: 1.5rem;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media print {
    h2,
    h3 {
      break-after: avoid;
    }
  }
  @media only screen and (max-width: 767px) {
    .shopify-section h2 {
      color: rgb(0, 0, 0);
    }
  }
  @media screen and (max-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 460px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media (max-width: 1200px) and (min-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 980px) {
    .wrapper.wrapper--margins {
      padding: 60px 0px 50px;
    }
  }
  @media screen and (max-width: 734px) {
    #home-features .wrapper.wrapper--margins,
    .b_cols_icons_text .wrapper.wrapper--margins {
      padding: 0px;
    }
  }
  @media screen and (max-width: 734px) {
    #home-features .wrapper.wrapper--margins,
    .b_cols_icons_text .wrapper.wrapper--margins {
      padding: 0px;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    ul {
      list-style: none;
    }
  }
  @media screen and (max-width: 734px) {
    .home-features .flexGrid {
      padding: 0px;
    }
  }
  @media screen and (min-width: 769px) {
    .full_width_grid {
      padding: 0px 50px;
    }
  }
  @media all {
    .zoomInLeft {
      animation-name: zoomInLeft;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 460px) {
    .fifth,
    .oneQuarter,
    .sixth {
      width: 100%;
    }
  }
  @media screen and (max-width: 769px) {
    .oneQuarter:not(.sideBar) {
      width: 50%;
    }
  }
  @media screen and (max-width: 460px) {
    .oneQuarter:not(.sideBar) {
      width: 100%;
    }
  }
  @media screen and (max-width: 734px) {
    .home-features .flexGrid .flexItem {
      padding: 30px 15px;
    }
  }
  @media screen and (min-width: 769px) {
    .column_icon_text_grid .flexItem:not(.full) {
      padding-right: 30px;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    .text-center {
      text-align: center !important;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media print {
    h2,
    h3 {
      break-after: avoid;
    }
  }
  @media only screen and (max-width: 767px) {
    .shopify-section h2 {
      color: rgb(0, 0, 0);
    }
  }
  @media screen and (max-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 460px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media (max-width: 1200px) and (min-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 769px) {
    .tab_details p,
    footer p,
    .content_general p,
    .contnet_grid_html p,
    .accordian p {
      font-size: 1.5rem;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media all {
    .zoomInLeft {
      animation-name: zoomInLeft;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 460px) {
    .fifth,
    .oneQuarter,
    .sixth {
      width: 100%;
    }
  }
  @media screen and (max-width: 769px) {
    .oneQuarter:not(.sideBar) {
      width: 50%;
    }
  }
  @media screen and (max-width: 460px) {
    .oneQuarter:not(.sideBar) {
      width: 100%;
    }
  }
  @media screen and (max-width: 734px) {
    .home-features .flexGrid .flexItem {
      padding: 30px 15px;
    }
  }
  @media screen and (min-width: 769px) {
    .column_icon_text_grid .flexItem:not(.full) {
      padding-right: 30px;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    .text-center {
      text-align: center !important;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media print {
    h2,
    h3 {
      break-after: avoid;
    }
  }
  @media only screen and (max-width: 767px) {
    .shopify-section h2 {
      color: rgb(0, 0, 0);
    }
  }
  @media screen and (max-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 460px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media (max-width: 1200px) and (min-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 769px) {
    .tab_details p,
    footer p,
    .content_general p,
    .contnet_grid_html p,
    .accordian p {
      font-size: 1.5rem;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media all {
    .zoomInRight {
      animation-name: zoomInRight;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 460px) {
    .fifth,
    .oneQuarter,
    .sixth {
      width: 100%;
    }
  }
  @media screen and (max-width: 769px) {
    .oneQuarter:not(.sideBar) {
      width: 50%;
    }
  }
  @media screen and (max-width: 460px) {
    .oneQuarter:not(.sideBar) {
      width: 100%;
    }
  }
  @media screen and (max-width: 734px) {
    .home-features .flexGrid .flexItem {
      padding: 30px 15px;
    }
  }
  @media screen and (min-width: 769px) {
    .column_icon_text_grid .flexItem:not(.full) {
      padding-right: 30px;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    .text-center {
      text-align: center !important;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media print {
    h2,
    h3 {
      break-after: avoid;
    }
  }
  @media only screen and (max-width: 767px) {
    .shopify-section h2 {
      color: rgb(0, 0, 0);
    }
  }
  @media screen and (max-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 460px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media (max-width: 1200px) and (min-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 769px) {
    .tab_details p,
    footer p,
    .content_general p,
    .contnet_grid_html p,
    .accordian p {
      font-size: 1.5rem;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media all {
    .zoomInRight {
      animation-name: zoomInRight;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 460px) {
    .fifth,
    .oneQuarter,
    .sixth {
      width: 100%;
    }
  }
  @media screen and (max-width: 769px) {
    .oneQuarter:not(.sideBar) {
      width: 50%;
    }
  }
  @media screen and (max-width: 460px) {
    .oneQuarter:not(.sideBar) {
      width: 100%;
    }
  }
  @media screen and (max-width: 734px) {
    .home-features .flexGrid .flexItem {
      padding: 30px 15px;
    }
  }
  @media screen and (min-width: 769px) {
    .column_icon_text_grid .flexItem:not(.full) {
      padding-right: 30px;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    .text-center {
      text-align: center !important;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
  @media print {
    h2,
    h3 {
      break-after: avoid;
    }
  }
  @media only screen and (max-width: 767px) {
    .shopify-section h2 {
      color: rgb(0, 0, 0);
    }
  }
  @media screen and (max-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 460px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media (max-width: 1200px) and (min-width: 769px) {
    h1,
    h2,
    h3 {
      font-size: 20px;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media all {
    *,
    .grid-item {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 769px) {
    .tab_details p,
    footer p,
    .content_general p,
    .contnet_grid_html p,
    .accordian p {
      font-size: 1.5rem;
    }
  }
  @media print {
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  }
}
